<main class="flex flex-col items-center gap-4 w-full min-h-fit max-w-[1280px] mx-auto py-4 px-8">
  <div class="relative">
    <input
      class="rounded-lg py-2 pl-2 pr-8 outline-none min-w-80 li"
      type="text"
      placeholder="Buscar por nombre de pelicula"
      [(ngModel)]="currentQuery"
      (keyup)="searchMovies($event)"
    >
    <span class="absolute top-1/2 -translate-y-1/2 right-2 text-2xl pointer-events-none">
      <personal-icons iconName="search" />
    </span>
  </div>
  @if (movies) {
    <section class="w-full flex-1 grid-auto">
      @for (movie of movies; track $index) {
        <div
          (click)="detailMovie(movie)" 
          class="relative flex flex-col gap-2 w-60 shadow-lg rounded-2xl bg-secondary text-dark-green pb-2 cursor-pointer">
          <figure class="w-full h-80 overflow-hidden rounded-t-2xl">
            <img class="w-full h-full object-cover object-center" [src]="'https://media.themoviedb.org/t/p/w220_and_h330_face//' + movie.poster_path"  [alt]="movie.title">
          </figure>
          <h1 class="text-center text-xl font-semibold">{{ movie.title }}</h1>
          <h3 class="text-center text-base">{{ movie.release_date | formatDate }}</h3>
          <span 
            class="absolute top-2 right-2 p-2 text-xl bg-light text-dark-green rounded-full hover:bg-dark-green hover:text-light transition-all">
            <personal-icons iconName="heart" />
          </span>
        </div>
      }
    </section>

    <section class="flex w-full flex-1 justify-center items-center gap-2 py-8">
      <button (click)="lessPage()" class="p-2 text-xl rounded-lg border border-dark-green dark:border-light transition-all">
        <personal-icons iconName="chevronLeft" />
      </button>
      @if (page > 2) {
        <span (click)="setPage(1)" class="py-2 px-4 text-xl rounded-lg cursor-pointer border border-dark-green dark:border-light">1</span>
      }
      @if (page - 1 > 0) {
        <span (click)="setPage(page - 1)" class="py-2 px-4 text-xl cursor-pointer rounded-lg border border-dark-green dark:border-light">{{page - 1}}</span>
      }
      <span class="py-2 px-4 text-xl rounded-lg border bg-dark-green dark:bg-light text-light dark:text-dark-green">{{page}}</span>
      @if (page + 1 <= maxPages) {
        <span (click)="setPage(page + 1)" class="py-2 px-4 text-xl cursor-pointer rounded-lg border border-dark-green dark:border-light">{{page + 1}}</span>
      }
      @if (page <= maxPages - 1) {
        <span (click)="setPage(maxPages)" class="py-2 px-4 text-xl rounded-lg cursor-pointer border border-dark-green dark:border-light">{{maxPages}}</span>
      }
      <button (click)="addPage()" class="p-2 text-xl rounded-lg border border-dark-green dark:border-light transition-all">
        <personal-icons iconName="chevronRight" />
      </button>
    </section>
  } @else {
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  }
</main>